myvenv
.vscode
.run
.idea
__pycache__/
django/*.log
/django/attachments/*
/django/company_attachments/*
/django/FAQ/*
/django/core/whoosh_index
/django/core/local_settings.py
venv/*
/docker-volumes
/web/docker/ssl-files
*.env
*.log
backup.sql
setup.cfg
/django/static
/django/static_shared
*.sqlite3
